.login-body {
  font-family: "Times New Roman", Times, serif;
  background-color: burlywood;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-align: center;
  border-radius: 8px;
}

.error-msg {
  color: red;
  font-style: italic;
}
